ul#select li{
    background-color: lightgray;
    margin-bottom: 15px;
    padding: 20px;
    color: white;
    list-style: none;
}
ul#select{
    padding: 0;
}
ul#select .ui-selecting{
    background-color: #ffbe76;
}

ul#select .ui-selected{
    background-color: orange;
}

ul#sort li{
    background-color: lightblue;
    margin-bottom: 15px;
    padding:15px ;
    color: white;
    list-style:none ;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
ul#sort li{
      background-color: lightpink;
    margin-bottom: 15px;
    padding:15px ;
    color: white;
    list-style-type:none ;
}
ul#sort2 li{
      background-color: lightblue;
    margin-bottom: 15px;
    padding:15px ;
    color: white;
    list-style-type:none ;
}
ul#sort1, ul#sort2{
    background-color: aquamarine;
    padding: 30px;
}
ul#select2 li{
      background-color: lightblue;
    margin-bottom: 15px;
    padding:70px ;
    color: white;
    list-style-type:none ;
    width: 300px;
    height: 300px;

}
ul#select2{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul#select2 .ui-selected{
    background-color: #ffbe76;
}
ul#select2 .ui-selecting{
    background-color: antiquewhite;
}